
.posts {
    max-width: 1200px;
    margin: 2rem auto 0;

   a {
       display: block;

       & + a {
           margin-top: 2rem;
           padding-top: 2rem;
       }

        h1 {
        font-size: 3rem;
        font-weight: bold;
        }
    }

    h2 {
        font-size: 1.125rem;
        font-weight: 400;
        margin-top: 0.5rem;
    }
}

.box {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;

    time {
        font-size: 0.875rem;
        margin: 0 1.5rem 0 0.5rem;
    }

    p {
        font-size: 0.875rem;
        font-weight: 400;
        margin-left: 0.5rem;
    }
}

.containerMorePosts {
    max-width: 1200px;
    padding-top: 2rem;
    
    button {
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--rose-300);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}